body {
    background:  rgba(0,0,0, .6);
    font-family: 'Times New Roman', sans-serif, Times, serif;
}

p {
    color: rgba(255, 255, 255, .75);
}

img {
    max-width: 100%;
    /* height: auto; */
}

#header {
    color: rgb(53, 15, 89);
    font-weight: 800;
    text-align: center;
    font-size: 42px;
}

.title {
    color: rgb(53, 15, 89);
    text-decoration: underline;
    font-size: 27px;
}

.subtitle {
    color: rgb(53, 15, 89);
    font-size: 22px;
}

.list-item {
    color: rgba(255, 255, 255, .75);
}

.button {
    border-radius: 25px;
    background: rgb(53, 15, 89);
    padding: 10px;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
  }

.link {
    text-decoration: underline;
    color: rgb(53, 15, 89);
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

/* Nav Bar */

.topnav {
    background-color:  rgb(53, 15, 89);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}